.exc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exc-container ul {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.exc-container li {
  list-style: none;
  width: 100px;
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 5px;
  text-align: center;
  border-radius: 8px;
  transition: border-color 0.25s;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.exc-container li:hover {
  border-color: var(--primary-color);
}

.exc-container p {
  margin-top: 60px;
}

@media screen and (max-width: 600px) {
  .exc-container h1 {
    text-align: center;
  }
  .exc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
    height: 100vh;
    background-color: var(--neutral-color);
  }

  .exc-container ul {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .exc-container li {
    list-style: none;
    width: 26vw;
    padding: 0;
    height: 4rem;
    background-color: var(--secondary-color);
    text-wrap: wrap;
    margin: 5px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 8px;
    transition: border-color 0.25s;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .exc-container li:hover {
    border-color: var(--primary-color);
  }

  .exc-container p {
    width: 80vw;
    margin-top: 20px;
  }
}
