* {
  margin: 0;
}

html {
  height: fit-content;
  width: fit-content;
  background-color: var(--neutral-color);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: var(--neutral-color);
  font-size: 16px;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.1em 3em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 0px;
  color: var(--text-color);
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  border: 3px solid transparent;
  border-color: var(--secondary-color);
  border-radius: 8px;
  font-size: 1.3em;
  padding: 15px 25px;
}

@media screen and (max-width: 600px) {
  .rootDiv {
    min-height: 100vh;
    max-height: 100%;
    height: auto;
  }
  #root {
    background-color: var(--neutral-color);
    height: 100%;
  }
  .container {
    background-color: var(--neutral-color);
  }
}
