.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newProfileForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sign {
  margin-top: 20px;
}

.newProfileForm input:first-child {
  margin-top: 0 !important;
}

.newProfileForm .btn-submit {
  cursor: pointer !important;
  color: var(--text-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.newProfileForm input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.1em 1.1em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-color);
  color: var(--text-color);
  cursor: text;
  transition: border-color 0.25s;
  margin-top: 10px;
  transition: border-color 0.25s;
}

.newProfileForm input:hover {
  border-color: var(--primary-color);
}

.errors-list {
  position: absolute;
  font-size: 13px;
  width: 200px;
  text-wrap: wrap;
  right: 575px;
}

.errors-list .errors {
  height: 39px;
  text-align: center;
  text-indent: 10px;
  margin-bottom: 16px;
  border: none;
  line-height: 17px;
}

@media screen and (max-width: 600px) {
  .profile {
    margin-top: 2rem;
  }

  .sign {
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .newProfileForm {
    margin-top: 15px;
  }
  .newProfileForm input {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: border-color 0.25s;
    margin-top: 0.6rem;
    width: 70vw;
    height: 8vh;
    color: var(--text-color);
    padding: 0;
    text-indent: 10px;
  }
  .profile p {
    font-size: 1em;
    padding: 0;
    text-align: center;
  }
}
